<ion-header>
  <ion-navbar no-border-bottom>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateNews()">
      <ion-segment-button value="news">
        资讯
      </ion-segment-button>
      <ion-segment-button value="recommend">
        推荐
      </ion-segment-button>
    </ion-segment>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

  <!-- <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- <ion-list #newsList [hidden]="shownSessions === 0"> -->
  <ion-list #newsList [hidden]="shownSessions === 0">
    <ion-slides pager loop="true" autoplay="2000" *ngIf="carouseLen > 0">
      <ion-slide *ngFor="let carouse of carouselList" (click)="inpage(carouse)">
        <img data-src="{{resourcesApi+carouse.mainPic}}">
      </ion-slide>
    </ion-slides>

    <ion-list>
      <ion-item *ngFor="let article of articlesList" (click)="inpage(article)">
        <ion-thumbnail item-start>
          <img src="{{resourcesApi}}{{article.thumbnail}}">
        </ion-thumbnail>
        <h5>{{article.title | slice:0:40 }}</h5>
        <div>
          <span>{{article.createTime | date:"yyyy-MM-dd"}}</span>
          <ion-icon name="eye"></ion-icon> 10K
          <ion-icon ios="ios-chatboxes" md="md-chatboxes" ></ion-icon> 20K</div>
      </ion-item>



    </ion-list>

  </ion-list>


</ion-content>