page-match {
  .card-header-md {
    font-size: 1.0rem;
  }

  .list ion-list-header {
    background-color:#dedede;
    min-height: 2.5rem;
    margin-bottom: 0px;

  }

  .label-md {
    margin: 13px 8px 13px 0;
}

}
